<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code4bones.notummobile"
    android:versionCode="20"
    android:versionName="9.2.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.code4bones.notummobile.MainActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.code4bones.notummobile.ProfileActivity"
            android:label="@string/title_activity_profile" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.code4bones.notummobile.NewParamActivity"
            android:label="@string/title_activity_new_param" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.code4bones.notummobile.ParamListActivity"
            android:label="@string/title_activity_param_list" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.code4bones.notummobile.HistActivity"
            android:label="@string/title_activity_hist" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.code4bones.notummobile.SettingsActivity"
            android:label="@string/title_activity_settings" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.code4bones.notummobile.GraphActivity"
            android:label="@string/title_activity_graph">
        </activity>
    </application>

</manifest>